{% load static %}

<!DOCTYPE html>
<html>
    
    <p1>Is your array a discovery array (The first array in the project/sequence scan?)</p1>
    <label for="checkbox"></label>
    <input type="checkbox" id="d-checkbox"><br>
    <br>

    <div id='vis-div' style='display:none; margin-left: 60px'>
        <p1>If not, what graph orientation would you like for each strip? </p1><br>
        <br><br>


        {% for item in my_list %}
            <label style='display:flex; align-items: center;'>
                {{ item }}

                <input type="radio" name="radio_group_{{ forloop.counter }}" value="v" checked> 
                <div style='display: inline'>
                    <img src="{% static '/app/img/array-icon-vert.png'%}" style='width:60px' id="" alt="">
                </div>

                <input type="radio" name="radio_group_{{ forloop.counter }}" value="h"> 
                <div style='display: inline'>
                    <img src="{% static '/app/img/array-icon-hoz.png'%}" style='width:60px' id="" alt="">
                </div>

            </label><br>
        {% endfor %}

        <form id="hiddenForm" action="{% url 'app:switchboard'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="hiddenField" value="empty u" name='hiddenField'>
            <input type='submit' onclick='exportGraphTypes()' name='align-submit' value='Submit' id='' style='margin-top:3px; height:20px; font-size: 12pt; position:fixed; background-color:#d1e0e0;border-radius: 5px;'/>
        </form>

    </div>
    <div id='vis-spacer'>
        <br><br><br><br><br><br><br>
    </div>


    


    <script>
        // Get references to the checkbox and the div
        const checkbox = document.getElementById('d-checkbox');
        const divToShow = document.getElementById('vis-div');
        const divToHide = document.getElementById('vis-spacer');

        checkbox.checked = true;

        // Add an event listener to the checkbox
        checkbox.addEventListener('change', function() {
            // Check if the checkbox is checked
            if (!checkbox.checked) {
                // If checked, hide the div by setting its display property to 'none'
                divToShow.style.display = 'inline-block';
                divToHide.style.display = 'none';
            } else {
                // If unchecked, show the div by setting its display property to 'block'
                divToShow.style.display = 'none';
                divToHide.style.display = 'block';
            }
        });

    </script>

    <script>
        function exportGraphTypes(){

            let types_list = [];
            

            {% for item in my_list %}
                var radioButtons = document.getElementsByName("radio_group_{{ forloop.counter }}");
                for (var i = 0; i < radioButtons.length; i++) {
                    if (radioButtons[i].checked) {
                        types_list.push(radioButtons[i].value)
                    };
                };
            {% endfor %}

            var hiddenField = document.getElementById('hiddenField');
            hiddenField.value = types_list;
        };
        
    </script>



</html>