{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>pep genie index</title>
    </head>
    <body>
        <div class="my-body" style='background-color: white; display:flex; justify-content:center'>
            <div style='display: flex; flex-direction: column; justify-content:flex-start;clear: both;'>

                <div>
                    <img src="{% static '/app/img/BANNER 2 - logo.png'%}" style='width:500px' id="" alt="">
                </div>
                <h4>Where would you like to go?</h4>
                <a href="{% url 'app:request' %}" style="text-align: center; text-decoration:none; color:black; padding: 14px 28px; border: 2px solid black; border-radius: 25px;"> Peptide Array Analysis</a>

            </div>
        </div>
    </body>
</html>