{% extends 'app/base-index.html' %}
{% load static %}
{% block content %}



    <div class='title' style='color:white; text-align:center; height: 20vh;'>   
        <h1 style='font-size:64pt; margin:0'>The Pep Genie</h1>
        <p style='font-size:12pt;'>Version 4.2: Sashimi</p>
    </div>

    <div class='menu'>
        <a href="{% url 'app:request' %}">
            <button type='button'><span></span>Peptide Array Analysis</button>
        </a>
        <a href="{% url 'app:ss_form' %}">
            <button type='button'><span></span>Alanine Scan and Truncations</button>
        </a>
    </div>





{% endblock %}