<!--

Copyright 2023, Thomas Wright

LICENSE NOTICE
This file is part of The Pep Genie.
The Pep Genie is free software: 
you can redistribute it and/or modify it under the terms of the 
GNU General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later version.
The Pep Genie is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with The Pep Genie.
If not, see <https://www.gnu.org/licenses/>. 


-->





{% extends 'app/base-main.html' %}
{% load static %}
{% block content %}

    <form style='position:relative;' method="POST" action='{% url "app:validate" %}' enctype="multipart/form-data">
        {% csrf_token %}
        

        {{ form.img_test.label }}<br>
        {{ form.img_test }}<br><br>

        {{ form.img_con.label }}<br>
        {{ form.img_con }}<br><br>

        <label for="checkbox">Upload a UV/Vis positive control?</label>
        <input type="checkbox" id="vis-checkbox">

        <div style='display: none; margin-left: 60px' id='vis-div'>
            {{ form.img_vis.label }}<br>
            {{ form.img_vis }}<br>
        </div>
        <div id='vis-spacer'>
            <br>
            <br>
            <br>
        </div>

        {{ form.cols.label }}
        {{ form.cols }}<br>
        {{ form.first_col.label }}
        {{ form.first_col }}<br>
        {{ form.strip_request.label }}
        {{ form.strip_request }}<br>

        <button type="submit" class="">Save</button>

    </form>
    <div class='seven-logo'>
        <img src="{% static '/app/img/george-genie.png'%}" style='width:250px' id="" alt="">
    </div>



    <script>
        // Get references to the checkbox and the div
        const checkbox = document.getElementById('vis-checkbox');
        const divToShow = document.getElementById('vis-div');
        const divToHide = document.getElementById('vis-spacer');

        checkbox.checked = false;

        // Add an event listener to the checkbox
        checkbox.addEventListener('change', function() {
            // Check if the checkbox is checked
            if (checkbox.checked) {
                // If checked, hide the div by setting its display property to 'none'
                divToShow.style.display = 'block';
                divToHide.style.display = 'none';
            } else {
                // If unchecked, show the div by setting its display property to 'block'
                divToShow.style.display = 'none';
                divToHide.style.display = 'block';
            }
        });
    </script>

{% endblock %}