/*

Copyright 2023, Thomas Wright

LICENSE NOTICE
This file is part of The Pep Genie.
The Pep Genie is free software: 
you can redistribute it and/or modify it under the terms of the 
GNU General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later version.
The Pep Genie is distributed in the hope that it will be useful, 
but WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with The Pep Genie.
If not, see <https://www.gnu.org/licenses/>. 


*/



body{
    font-family:  Helvetica, Verdana, Arial,  sans-serif;
}


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border: 2px solid white;
    background:rgba(250, 250, 250, 0.3);
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    font-size:16pt;
}

.button2 {
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border: 2px solid white;
    background:rgba(250, 250, 250, 0.3);
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    font-size:12pt;
}

span{
    background:#0099ad;
    height:100%;
    width:0%;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition: 0.2s;

}

button:hover span{
    width:100%;
}
button:hover {
    border:none;
}


div.submit-text p {
    margin: 0;
}